<% if @shop.errors.any? %>
	<h4> There are errors in the form </h4>
	<ul>
	  <% @shop.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
<% end %>

<div class="panel-body panel-body-inputin">
	<div class="form-horizontal">
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Shop name</label>
			<div class="col-sm-10">
				<%= f.text_field(:name, :class => "form-control1")%>
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Owner User ID</label>
			<label for="focusedinput" class="col-sm-1 control-label"><%= @user.id%></label>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Icon</label>
			<div class="col-sm-10">
				<%= f.text_field(:icon, :class => "form-control1")%>
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Banner</label>
			<div class="col-sm-10">
				<%= f.text_field(:banner, :class => "form-control1")%>
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Service type IDs</label>
			<div class="col-sm-10">
				<%= f.collection_select :service_type_id, ServiceType.order(:name),:id,:name, include_blank: true %>
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Time slot IDs</label>
			<div class="col-sm-10">
				<%= f.text_field(:time_slot_ids, :class => "form-control1")%>
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Day slot IDs</label>
			<div class="col-sm-10">
				<%= f.text_field(:day_slot_ids, :class => "form-control1")%>
			</div>
		</div>
		


		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Contact Number 1</label>
			<div class="col-sm-10">
				<%= f.text_field(:contact_number1, :class => "form-control1")%>
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Contact Number 2</label>
			<div class="col-sm-10">
				<%= f.text_field(:contact_number2, :class => "form-control1")%>	
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">location Id</label>
			<div class="col-sm-10">
				<%= f.collection_select :location_id, Location.order(:location),:id,:location, include_blank: true %>
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Latitude</label>
			<div class="col-sm-10">
				<%= f.text_field(:latitude, :class => "form-control1")%>	
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Longitude</label>
			<div class="col-sm-10">
				<%= f.text_field(:longitude, :class => "form-control1")%>	
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Caption</label>
			<div class="col-sm-10">
				<%= f.text_area(:caption, :class => "form-control1", :rows => 2, :cols => 50)%>
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Details</label>
			<div class="col-sm-10">
				<%= f.text_area(:details, :class => "form-control1", :rows => 4, :cols => 50)%>
			</div>
		</div>
		<div class="form-group">
			<label for="focusedinput" class="col-sm-2 control-label">Address</label>
			<div class="col-sm-10">
				<%= f.text_area(:address, :class => "form-control1", :rows => 3, :cols => 50)%>
			</div>
		</div>

	</div>
</div>