<!-- <div id="page-wrapper">
	<div class="graphs">
		<div class="xs tabls">
			<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
				<div class="panel-heading">
					<h2> Delete Shop </h2>
					<div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
				</div>
				<%= form_for(:shop, :url => {:action => 'destroy', :id => @shop.id}) do |f| %>

					<p>Are you sure you want to permanently delete this Shop ?</p>

				    <p> <div class="info"><%= @shop.name %></p>

				    <%= submit_tag("Delete", :class => "btn-danger btn") %>
				<% end %>
			</div>
		</div>
	</div>
</div> -->

<div class="right_col" role="main">
    <div class="">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height:600px;">
                    <div class="x_title">
                        <h3> Delete Shop </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                    	<%= form_for(:shop, :url => {:action => 'destroy', :id => @shop.id}) do |f| %>

							<h2>Are you sure you want to permanently delete this Shop ?</h2>

						    <h2>'<%= @shop.name %>'</h2>

						    <%= submit_tag("Delete", :class => "btn-danger btn") %>
						<% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->