
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Plain Page</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height:600px;">
                    <div class="x_title">
                        <h2>Plain Page</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        
                        <table id="datatable" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Service</th>
                                <th class="column-title">Day Cost</th>
                                <th class="column-title">Month Cost</th>
                                <th class="column-title">3 months Cost</th>
                                <th class="column-title">6 months cost</th>
                                <th class="column-title">1 Year cost</th>
                                <th class="column-title">Actions</th>
                            </tr>
                        </thead>


                        <tbody>
                            <% @services.each do |obj| %>
                                <tr>
                                    <td><%= obj.name %></td>
                                    <td><%= obj.cost_daily %></td>
                                    <td><%= obj.cost_monthly %></td>
                                    <td><%= obj.cost_quartly %></td>
                                    <td><%= obj.cost_halfyearly %></td>
                                    <td><%= obj.cost_yearly %></td>
                                    <td>
                                        <!-- if offer exist -->
                                        <% if obj.offers.present? %>
                                            <%= link_to("Edit Offer", {:action => 'edit_offer', :service_id => obj.id, :offer_id => obj.offers.last.id}, :class => 'btn-info btn') %>
                                        <% else %>
                                            <%= link_to("Add Offer", {:action => 'add_offer', :service_id => obj.id}, :class => 'btn-success btn') %>
                                        <% end %>
                                         <%= link_to("Edit", {:action => 'edit_service', :service_id => obj.id, :shop_id => @shop.id}, :class     => 'btn-primary btn') %>
                                        <%= link_to("Delete", {:action => 'delete_service', :service_id => obj.id, :shop_id => @shop.id}, :class => 'btn-danger btn') %>                                                                               
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>

                    <%= link_to("Add service", {:action => 'add_service', :shop_id => @shop.id}, :class => 'btn-success btn') %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
