
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height:600px;">
                    <div class="x_title">
                        <h2><%= @shop.name%> Services</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <%= link_to("Add service", {:action => 'add_service', :shop_id => @shop.id}, :class => 'btn-success btn') %>
                        &nbsp; &nbsp;
                        <%= link_to("Customer Handling", {:action => 'index',:controller => 'free_busy', :id => @shop.id}, :class => 'btn-primary btn') %>
                        
                        <table id="datatable" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Service</th>
                                <th class="column-title">Day Cost</th>
                                <th class="column-title">Month Cost</th>
                                <th class="column-title">3 months Cost</th>
                                <th class="column-title">6 months cost</th>
                                <th class="column-title">1 Year cost</th>
                                <th class="column-title">Actions</th>
                            </tr>
                        </thead>


                        <tbody>
                            <% @services.each do |obj| %>
                                <%if obj.offers.empty? %>
                                    <tr>
                                        <td><%= obj.name %></td>
                                        <td><% if obj.cost_daily > 0%>
                                                <%= obj.cost_daily %>
                                            <% end %>
                                        </td>
                                        <td><%if obj.cost_monthly > 0%>
                                                <%= obj.cost_monthly %>
                                            <% end %>
                                        </td>
                                        <td><% if obj.cost_quartly > 0%>
                                                <%= obj.cost_quartly %>
                                            <% end %>
                                        </td>
                                        <td><% if obj.cost_halfyearly > 0 %>
                                                <%= obj.cost_halfyearly %>
                                            <%end %>
                                        </td>
                                        <td><%if obj.cost_yearly > 0%>
                                                <%= obj.cost_yearly %>
                                            <% end %>
                                        </td>
                                        <td>
                                            
                                            <%= link_to("Add Offer", {:action => 'add_offer', :service_id => obj.id, :shop_id => @shop.id}, :class => 'btn-success btn') %>
                                            <%= link_to("Edit", {:action => 'edit_service', :service_id => obj.id, :shop_id => @shop.id}, :class     => 'btn-primary btn') %>
                                            <%= link_to("Delete", {:action => 'delete_service', :service_id => obj.id, :shop_id => @shop.id}, :class => 'btn-danger btn') %>                                                                               
                                        </td>
                                    </tr>
                                <% else %>
                                    <tr>
                                        <td><%= obj.name %></td>
                                        <td><% if obj.cost_daily > 0%>
                                                <% if obj.offers.last.cost_daily > 0%>
                                                    <span style="text-decoration: line-through"> <%= obj.cost_daily %></span> <span style="color: #FF0000"> <%= obj.offers.last.cost_daily %></span> 
                                                <% else %>
                                                    <%= obj.cost_daily%>
                                                <% end %>
                                            <% end %></td>
                                        
                                        <td><% if obj.cost_monthly > 0%>
                                                <% if obj.offers.last.cost_monthly > 0%>
                                                    <span style="text-decoration: line-through"> <%= obj.cost_monthly %></span> <span style="color: #FF0000"> <%= obj.offers.last.cost_monthly %></span> 
                                                <% else %>
                                                    <%=obj.cost_monthly%>
                                                <% end %>
                                            <% end %></td>
                                        
                                        <td><% if obj.cost_quartly > 0%> 
                                                <% if obj.offers.last.cost_quartly > 0%>
                                                    <span style="text-decoration: line-through"> <%= obj.cost_quartly %></span> <span style="color: #FF0000"> <%= obj.offers.last.cost_quartly %></span> 
                                                <%else%>
                                                    <%=obj.cost_quartly%>
                                                <%end%>
                                            <% end %></td>
                                        
                                        <td><% if obj.cost_halfyearly > 0%>
                                                <% if obj.offers.last.cost_halfyearly > 0%>
                                                    <span style="text-decoration: line-through"> <%= obj.cost_halfyearly %></span> <span style="color: #FF0000"> <%= obj.offers.last.cost_halfyearly %></span>
                                                <%else%>
                                                    <%=obj.cost_halfyearly%>
                                                <%end%>
                                            <% end %></td>
                                        
                                        <td><%if obj.cost_yearly > 0%>
                                                <% if obj.offers.last.cost_yearly > 0%>
                                                    <span style="text-decoration: line-through"> <%= obj.cost_yearly %></span> <span style="color: #FF0000"> <%= obj.offers.last.cost_yearly %></span> 
                                                <%else%>
                                                    <%= obj.cost_yearly%>
                                                <%end%>
                                            <% end %></td>
                                        <td>
                                            
                                            <%= link_to("Edit Offer", {:action => 'edit_offer', :service_id => obj.id, :offer_id => obj.offers.last.id, :shop_id => @shop.id}, :class => 'btn-info btn') %>
                                            
                                            <%= link_to("Edit", {:action => 'edit_service', :service_id => obj.id, :shop_id => @shop.id}, :class     => 'btn-primary btn') %>

                                            <%= link_to("Delete", {:action => 'delete_service', :service_id => obj.id, :shop_id => @shop.id}, :class => 'btn-danger btn') %>                                                                               
                                        </td>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<!--Test Page specific JS -->
