<% @page_title = "Shop" %>

<div id="page-wrapper">
	<div class="graphs">
		<div class="xs tabls">
			<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
				<div class="panel-heading">
					<h2> Shop <%=@shop.id %></h2>
					<div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><shopn class="button-icon has-bg"><i class="ti ti-angle-down"></i></shopn></div>
				</div>
				<div class="panel-body no-padding" style="display: block;">
					<%= link_to("Edit sport centre", {:action => 'edit', :user => @shop.id}, :class => "btn-success btn") %> &nbsp; &nbsp; &nbsp; &nbsp;
					<%= link_to("<< shop list", {:action => 'index'}, :class => "btn-danger btn") %> <br/> <br/>
					<table class="table">
						<thead>
							<tr class="success">
								<th>Attributes</th>
								<th>Values</th>
							</tr>
						</thead>
						<tbody>
							
							<tr class="info">
								<th> ID : </th>
								<td><%= @shop.id %></td>
							</tr>
							<tr>
								<th> name : </th>
								<td><%= @shop.name %></td>
							</tr>
							<tr class="info">
								<th>Owner Id</th>
								<td><%= @shop.user_id %></td>
							</tr>
							<tr>
								<th>Icon</th>
								<td><%= @shop.icon %></td>
							</tr>

							<tr class="info">
								<th>Banner</th>
								<td><%= @shop.banner %></td>
							</tr>
							<tr>
								<th>Offer id</th>
								<td><%= @shop.offer_id %></td>
							</tr>
							<tr class="info">
								<th>Service Types ID</th>
								<td><%= @shop.service_type_ids %></td>
							</tr>
							<tr>
								<th>Timeslot ID</th>
								<td><%= @shop.time_slot_ids %></td>
							</tr>

							<tr class="info">
								<th>Contact Number 1</th>
								<td><%= @shop.contact_number1 %></td>
							</tr>
							
							<tr>
								<th>Contact Number 2 </th>
								<td><%= @shop.contact_number2 %></td>
							</tr>
							
							<tr class="info">
								<th>Status</th>
								<td><%= @shop.status %></td>
							</tr>
							
							<tr>
								<th> Location id</th>
								<td><%= @shop.location_id %></td>
							</tr>
							
							<tr class="info">
								<th>Latitude</th>
								<td><%= @shop.latitide %></td>
							</tr>
							<tr>
								<th> Longitude</th>
								<td><%= @shop.longitude %></td>
							</tr>
							<tr class="info">
								<th>Booking Count</th>
								<td><%= @shop.booking_count %></td>
							</tr>
							<tr>
								<th> Caption </th>
								<td><%= @shop.caption %></td>
							</tr>
							<tr class="info">
								<th>Details	</th>
								<td><%= @shop.details %></td>
							</tr>
							<tr>
								<th>Address </th>
								<td><%= @shop.address %></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

	</div>
</div>