<!DOCTYPE html>
<html>
    <head>
        <title>InstaBookr</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

        <meta name="keywords" content="Instabookr, instant booking, gym nearby, salon nearby,spa nearby, sports centre" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= javascript_include_tag :defaults %>
    
    </head>

    <body class="nav-md">
        <div class="container body">
        <% flash.each do |key, value| %>
            <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <%= render "shared/sidenav" %>
        <%= render "shared/topnav" %>

        <%= yield %>

        <%= render "shared/footer" %>
        <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>
    </body>
</html>
