<div class="right_col" role="main">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> Edit Profile </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                      <%= devise_error_messages! %>

                      <div class="field">
                        <%= f.label "First name* " %><br />
                        <%= f.text_field :first_name, autofocus: true, value: resource.first_name,required: true %>
                      </div>

                      <div class="field">
                        <%= f.label "Last name* " %><br />
                        <%= f.text_field :last_name, value: resource.last_name ,required: true%>
                      </div>

                      <div class="field">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true %>
                      </div>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>

                      <div class="field">
                        <%= f.label "Contact number" %><br />
                        <%= f.text_field :contact_number1%>
                      </div>

                      <!-- <div class="field">
                        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                        <%= f.password_field :password, autocomplete: "off" %>
                        <% if @minimum_password_length %>
                          <br />
                          <em><%= @minimum_password_length %> characters minimum</em>
                        <% end %>
                      </div>

                      <div class="field">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                      </div>

                      <div class="field">
                        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                        <%= f.password_field :current_password, autocomplete: "off" %>
                      </div> -->

                      <div class="actions">
                        <br>
                        <%= submit_tag("Update", :class => "btn-primary btn") %>
                      </div>
                    <% end %>
                    
                </div>
            </div>
        </div>
    </div>
</div>